# OmniGen H7 board OpenOCD CMSIS-DAP configuration

source [find interface/cmsis-dap.cfg]
cmsis_dap_vid_pid 0x0d28 0x0204
transport select swd

set WORKAREASIZE 0x3000
set CHIPNAME STM32H723ZG

source [find target/stm32h7x.cfg]

reset_config none
